{% load static %}
{% block sidebar %}
		<!-- ========== Left Sidebar Start ========== -->
		<div class="vertical-menu">
			<div data-simplebar class="h-100">
				<!--- Sidemenu -->
				<div id="sidebar-menu">
					<!-- Left Menu Start -->
					<ul class="metismenu list-unstyled" id="side-menu">
						<li class="menu-title" key="t-menu">Menu</li>
						<li>
							<a href="{% url 'dashboard' %}" class="waves-effect"> <i class="ri-dashboard-line"></i>
								<!-- <span class="badge rounded-pill bg-success float-end">3</span> -->
								<span key="t-dashboards">Dashboard</span>
							</a>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect"> <i class="ri-share-line"></i>
								<span key="t-multi-level">Multi Level</span>
							</a>
							<ul class="sub-menu" aria-expanded="true">
								<li><a href="javascript: void(0);" key="t-level-1-1" >Level 1.1</a>
								</li>
								<li><a href="javascript: void(0);" class="has-arrow" key="t-level-1-2">Level 1.2</a>
									<ul class="sub-menu" aria-expanded="true">
										<li><a href="javascript: void(0);" key="t-level-2-1">Level 2.1</a>
										</li>
										<li><a href="javascript: void(0);" key="t-level-2-2">Level 2.2</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- Sidebar -->
			</div>
		</div>
		<!-- Left Sidebar End -->
{% endblock sidebar %}