{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en" >

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}} | Boilerplate - Admin & Dashboard Template</title>
	<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
	<meta content="Boilerplate" name="author" />
	<!-- App favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <!--Extra Css-->
    {% block extra_css %}{% endblock extra_css %}
	<!-- Bootstrap Css -->
    {% render_bundle 'index' 'css' %}

</head>

<body>
<h1>Boilerplate Django</h1>
<input type="button" value="Button1" class="btn btn-primary"/>
<input type="button" value="Button2" class="btn btn-warning"/>
</body>
<!-- JAVASCRIPT -->
    {% render_bundle 'index' 'js' %}

</html>